$fa-font-path: "./../../assets/webfonts/fontawesome";
// Background colors
$bg-blue: #0391ff;
$bg-grey: #EEE;
$bg-dark-grey: #DDD;
// Text colors
$text-blue: #0391ff;
$text-dark: #333;
$text-dark-grey: #CCC;
// Shadow colors
$shadow-grey: #BBB;