$fa-font-path: "./../../assets/webfonts/fontawesome";
// Background colors
$bg-blue: #0391ff;
$bg-grey: #EEE;
$bg-dark-grey: #AAA;
// Text colors
$text-blue: #0391ff;
$text-dark: #333;
$text-dark-grey: #999;
$text-black: #333;
// Shadow colors
$shadow-grey: #BBB;