@import "./normalize.css";
@import "./typography.css";
@import "./visibility.css";
@import "./utilities.css";
@import "./variables.css";
@import "./grid.css";
@import "./forms.css";
@import "./tables.css";
@import "./popup.css";

html {
  height: 100%;
}
body {
  min-height: 100%;
  color: #222222;
}
img {
  max-width: 100%;
}
:global #app {
  min-height: 100%;
}
